*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.results-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.results-container main{
    width: 500px;
    height: 400px;
    text-align: center;
}
.results-container main p{
    font-size: 2rem;
    color: #FFF;
}

button{
    width: 200px;
    height: 70px;
    cursor: pointer;
    border: none;
    background: #9D2933;
    border-radius: 20px;
    transition: 0.3s ease;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #FFF;
}